"*":
  editor:
    invisibles: {}
    fontSize: 25
    softWrap: true
  core:
    disabledPackages: [
      "atom-lint"
      "emmet"
      "linter-coffeelint"
      "atom-ctags"
    ]
    themes: [
      "atom-dark-ui"
      "solarized-light-syntax"
    ]
  "exception-reporting":
    userId: "93442145-22e8-d0b9-0e3e-a2542e1efed0"
  "release-notes":
    viewedVersion: "0.95.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "0ffdb90ec89624538eb18f948cd1a37ca12fa5c4"
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "atom-lint": {}
  linter:
    lintOnChange: false
    subtleLinterErrors: [
      "jsonlint"
      "htmlhint"
    ]
    ignoredLinterErrors: [
      "rubocop"
      "shellcheck"
    ]
    lintOnFly: false
  react: {}
  "tree-view":
    hideVcsIgnoredFiles: true
  "autocomplete-plus": {}
  "go-plus": {}
  Zen:
    fullscreen: false
  "merge-conflicts": {}
