"*":
  editor:
    invisibles: {}
    fontSize: 21
  core:
    disabledPackages: [
      "atom-lint"
      "emmet"
      "linter-coffeelint"
    ]
    themes: [
      "atom-dark-ui"
      "solarized-light-syntax"
    ]
  "exception-reporting":
    userId: "93442145-22e8-d0b9-0e3e-a2542e1efed0"
  "release-notes":
    viewedVersion: "0.95.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "0ffdb90ec89624538eb18f948cd1a37ca12fa5c4"
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "atom-lint": {}
  linter:
    lintOnChange: false
  react: {}
  "tree-view": {}
  "autocomplete-plus": {}
  "go-plus": {}
